$backgroundColor: #efefef;
$radius: 40%;

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 400px;
  background-color: grey;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

  label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    textArea {
      resize: none;
      height: 150px;
      width: 300px;
    }

    &.methods {
      span {
        cursor: pointer;
        display: flex;
        // flex-direction:row;
        justify-content: space-between;
        // text-align: center;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        padding: .25rem .5rem;
        background: #ccc;
        border-radius: 5px;

        &:hover, &.active {
          background:black;
          color: antiquewhite;
          transition: 0.4s;

        }
      }
    }
  }
}
